Cypress
QtProject.conf
baloofileinformationrc
chromium/
configstore/
create-next-app-nodejs/
Cypress/
dconf/
dolphinrc
fish/
fish/fish_variables
flameshot/
go/
google-chrome/
libreoffice/
mimeapps.list
nextjs-nodejs/
nushell/
vlc/
github-copilot/
google-chrome-for-testing/
htop/
kde.org/
kiorc
lazygit/
session/
spotify/
systemd/
trashrc
okularrc
okularpartrc
MusicBrainz/
gh/
