* {
  font-size: 14px;
  font-family: "Hack Nerd Font", monospace;
}
.icon {
  font-size: 20px;
}
window#waybar {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(33, 33, 33, 1);
  border-radius: 30px;
}
window#waybar.top_bar {
  /*
  border-radius: 0 0 7px 7px;
  background-color: rgba(230, 41, 85, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  */
}
window#waybar.bottom_bar {
  /*
  border-radius: 7px 7px 0 0;
  background-color: rgba(230, 41, 85, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  */
}
#workspaces {
  margin: 10px 20px;
}
#workspaces button {
  margin: 0 3px;
  padding: 0;
  color: transparent;
  background-color: rgba(0, 0, 0, 0.3);
  min-width: 10px;
  min-height: 10px;
}
#workspaces button.empty {
  background-color: rgba(0, 0, 0, 1);
}

/*
button,
button.active,
button.focused,
button:hover {
  margin: 0 5px;
  padding: 0;
  color: rgba(0, 0, 0, 0.2);
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}
#workspaces button {
  margin: 0 5px;
  padding: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  border: 1px solid white;
}
 */
#workspaces button,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.focused {
  border: none;
}
#workspaces button.focused,
#workspaces button:hover,
#workspaces button.active {
  background-color: rgb(255, 207, 140);
  background-color: rgba(66, 66, 66, 1);
}
/*
#workspaces button.empty {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.3);
}
*/
#cpu,
#memory,
#disk,
#custom-power,
#clock,
#temperature,
#wireplumber,
#custom-status,
#custom-separator,
#workspaces,
#custom-notification {
}

#custom-separator {
  font-size: 20px;
}
#cpu {
  padding: 10px 0 10px 27px;
}
#temperature,
#memory,
#disk {
  padding: 10px 0;
}
#clock {
  padding: 10px 27px;
}
#custom-users,
#custom-lock,
#custom-github,
#custom-teams,
#custom-postgreslogin,
#custom-postgres {
  padding: 10px 10px;
}
#custom-github,
#custom-teams,
#custom-postgreslogin,
#custom-tasks,
#custom-postgres {
  font-size: 20px;
}
#custom-power {
  font-size: 20px;
}
#network {
  padding: 10px 27px 10px 0;
}
#keyboard-state,
#custom-computer {
  padding-right: 6px;
}
#pulseaudio.vol {
  padding: 10px 27px 10px 0;
}
#pulseaudio.mic {
}
#custom-window-layout {
  padding: 10px 7px;
}
